<h1>Make a New Recipe</h1>

<form action="/recipes" method="POST">

    <div>
        <label>Name</label>
        <input name="name" type=text/>
    </div>

    <div>
        <label>Ingredients</label>
        <textarea name="ingredients"></textarea>
    </div>

    <div>
        <label>Cook Time</label>
        <input name="cook_time" type=text/>
    </div>

    <div>
        <input type=submit>
    </div>

</form>